{% extends "vend/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% from "vend/_includes/macros.html" import configWarning %}

{% block content %}
    <h2>{{ "Store Connection"|t('vend') }}</h2>

    {% if oauthAppMissing %}
        <p>You are not connected to Vend, <a href="{{ url('oauthclient/apps') }}">please connect to your Vend store</a> first.</p>
    {% else %}
        {% if oauthToken and oauthProvider %}
            <p>Connected to the Vend Store <a href="{{ oauthProvider.getBaseUrl() }}" target="_blank" class="go"><code>{{ oauthProvider.domainPrefix }}</code></a></p>
            <a href="{{ url('oauthclient/apps/vend') }}" class="btn submit small">Edit connection</a>
        {% else %}
            <p>Your OAuth app needs a token generating, you can do this <a href="{{ url('oauthclient/apps') }}">here</a>.</p>
        {% endif %}
    {% endif %}

    {% if not oauthAppMissing and oauthToken and oauthProvider %}
        <form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
            <input type="hidden" name="action" value="vend/settings/save">
            {{ redirectInput('vend/settings/general') }}
            {{ csrfInput() }}

            <hr>

            <h2>{{ "Vend Settings"|t('vend') }}</h2>

            {{ forms.lightswitchField({
                label: 'Register Sales'|t,
                instructions: 'Switch this on to send completed orders to Vend.'|t,
                warning: configWarning("vend_registerSales", "vend"),
                id: 'vend_registerSales',
                name: 'vend_registerSales',
                on: settings.vend_registerSales,
            }) }}

            {{ forms.selectField({
                label: 'Customer Group'|t,
                instructions: 'Choose the Customer Group that you want new customers to belong to.'|t,
                id: 'vend_customerGroupId',
                name: 'vend_customerGroupId',
                value: settings.vend_customerGroupId,
                errors: settings.getErrors('vend_customerGroupId'),
                options: vendCustomerGroups,
                required: true,
            }) }}

            {{ forms.selectField({
                label: 'User'|t,
                instructions: 'Choose the User that you want sales to appear under.'|t,
                id: 'vend_userId',
                name: 'vend_userId',
                value: settings.vend_userId,
                errors: settings.getErrors('vend_userId'),
                options: vendUsers,
                required: true,
            }) }}

            {{ forms.selectField({
                label: 'Outlet'|t,
                instructions: 'Choose the Outlet that you want sales to appear under.'|t,
                id: 'vend_outletId',
                name: 'vend_outletId',
                value: settings.vend_outletId,
                errors: settings.getErrors('vend_outletId'),
                options: vendOutlets,
                required: true,
            }) }}

            {{ forms.selectField({
                label: 'Register'|t,
                instructions: 'Choose the Register that you want sales to appear under.'|t,
                id: 'vend_registerId',
                name: 'vend_registerId',
                value: settings.vend_registerId,
                errors: settings.getErrors('vend_registerId'),
                options: vendRegisters,
                required: true,
            }) }}

            {{ forms.selectField({
                label: 'Payment Type'|t,
                instructions: 'Choose the Payment Type that you want sales to use.'|t,
                id: 'vend_retailerPaymentTypeId',
                name: 'vend_retailerPaymentTypeId',
                value: settings.vend_retailerPaymentTypeId,
                errors: settings.getErrors('vend_retailerPaymentTypeId'),
                options: vendPaymentTypes,
                required: true,
            }) }}

            <input type="submit" class="btn submit" value="{{ 'Save'|t('vend') }}">
        </form>
    {% endif %}
{% endblock %}
