{% extends "vend/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% from "vend/_includes/macros.html" import configWarning %}

{% block content %}

    {% if oauthAppMissing %}
        <p>You are not connected to Vend, <a href="{{ url('oauthclient/apps') }}">please connect to your Vend store</a> first.</p>
    {% elseif not oauthToken or not oauthProvider %}
        <p>Your OAuth app needs a token generating, you can do this <a href="{{ url('oauthclient/apps') }}">here</a>.</p>
    {% endif %}

    {% if not oauthAppMissing and oauthToken and oauthProvider %}
    <form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
        <input type="hidden" name="action" value="vend/settings/save-tax">
        {{ redirectInput('vend/settings/tax') }}
        {{ csrfInput() }}

        <h2>{{ "Tax Settings"|t('vend') }}</h2>

        <p>For each Commerce tax category, choose the Vend sales tax that you want it to match.</p>

        <table class="fullwidth data">
            <thead>
                <tr>
                    <th>Tax Category</th>
                    <th>Vend Sales Tax</th>
                </tr>
            </thead>
            <tbody>
            {% for taxCategory in taxCategories %}
                <tr>
                    <th>{{ taxCategory.name }}</th>
                    <td>
                        {{ forms.selectField({
                            id: 'taxMap-'~taxCategory.id,
                            name: 'taxMap['~taxCategory.id~']',
                            value: settings.taxMap and settings.taxMap[taxCategory.id] is defined ? settings.taxMap[taxCategory.id] : null,
                            options: vendTaxes,
                            required: true,
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        <input type="submit" class="btn submit" value="{{ 'Save'|t('vend') }}">
    </form>
    {% endif %}
{% endblock %}
