{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'settings' %}
{% set title = "Settings"|t('vend') %}

{% set navItems = {} %}

{% if currentUser.can('vend:settings:import-profiles') %}
    {% set navItems = navItems|merge({
        'import-profiles': { title: "Import Profiles"|t('vend') }
    }) %}
{% endif %}

{% if currentUser.can('vend:settings:webhooks') %}
    {% set navItems = navItems|merge({
        'webhooks': { title: "Webhooks"|t('vend') }
    }) %}
{% endif %}

{% if currentUser.can('vend:settings:feed-me') %}
    {% set navItems = navItems|merge({
        'feed-me': { title: "Feed Me"|t('vend') }
    }) %}
{% endif %}

{% if currentUser.can('vend:settings:shipping') %}
    {% set navItems = navItems|merge({
        'shipping': { title: "Shipping"|t('vend') }
    }) %}
{% endif %}

{% if currentUser.can('vend:settings:tax') %}
    {% set navItems = navItems|merge({
        'tax': { title: "Tax"|t('vend') }
    }) %}
{% endif %}

{% if currentUser.can('vend:settings:general') %}
    {% set navItems = navItems|merge({
        'general': { title: "General"|t('vend') }
    }) %}
{% endif %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% set docTitle = navItems[selectedItem].title~' - '~title %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('vend/settings/'~handle) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

